<p id="dbg"></p>
<div id="selection-container">
    <img id="img" src="/images/Screen-Shot-2020-03-07-at-11.32.08-PM.png" srcset="/images/Screen-Shot-2020-03-07-at-11.32.08-PM-p-500.png 500w, /images/Screen-Shot-2020-03-07-at-11.32.08-PM-p-800.png 800w, /images/Screen-Shot-2020-03-07-at-11.32.08-PM-p-1080.png 1080w, /images/Screen-Shot-2020-03-07-at-11.32.08-PM.png 1370w" sizes="(max-width: 991px) 90vw, (max-width: 1370px) 100vw, 1370px" alt="" class="image">
    <div id="selection-area-padding">
        <div id="selection-area">
        </div>
    </div>
</div>

<div class="w-row">
    <div class="w-col w-col-6"><a id="restart" class="button w-button">Restart</a></div>
    <div class="w-col w-col-6"><a id="next" class="hide button-2 w-button">I&#x27;m done!</a></div>
</div>

<div class="hide">
    <div id="dot-spawn">
        <div class="dot"></div>
    </div>

    <div id="selection-events"></div>
</div>
