<div id="selection-area">
    <div class="grid-item top left"></div>
    <div class="grid-item top center">Up</div>
    <div class="grid-item top right"></div>

    <div class="grid-item middle left">Left</div>
    <div class="grid-item middle center"></div>
    <div class="grid-item middle right">Right</div>

    <div class="grid-item bottom left"></div>
    <div class="grid-item bottom center">Down</div>
    <div class="grid-item bottom right"></div>
</div>

<div id="dot-spawn">
    <span class="dot"></span>
</div>