<div id="area-container">
    <div id="selection-area">
    </div>
</div>

<div id="restart">Restart</div>
<div id="next" class="hide">I'm done</div>


<div class="hide">
    <div id="dot-spawn">
        <div class="dot"></div>
    </div>

    <div id="selection-events"></div>
</div>
