<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selectorama</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
</head>
<body>
<div id="default">
    <h1>How do you feel?</h1>
    {{> selection_area}}
</div>

<div id="success" class="hide">
    <h1 id="success-message"></h1>
</div>

<script src="/javascripts/selection.js"></script>
</body>
</html>