.hide {
  display: none;
}

.dot {
  position: absolute;
  height: 0;
  width: 0;
  background: crimson;
  border: 15px solid crimson;
  border-radius: 100px;
}

.no-select {
  user-select: none;
}

.selected {
  font-weight: bold;
}

#area-container {
  padding: 50px;
  width: min-content;
}

#selection-area {
  width: 500px;
  height: 500px;
  border-style: groove;
}